<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="file_directory" value=""/>
    <add key="file_name" value=""/>
    <add key="file_name_encr" value=""/>
    <add key="file_directory_custom_battles" value=""/>
    <add key="file_directory_encr" value=""/>
    <add key="file_directory_unencr" value=""/>
    <add key="file_directory_randomized" value=""/>
    <add key="file_directory_preload" value=""/>
    <add key="file_directory_spirit_images" value=""/>
    <add key="labels_file_location" value=""/>
    <add key="chaos" value=""/>
    <add key="randomizer_iterations" value=""/>
  </appSettings>
</configuration>