<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="file_directory" value=""/>	<!-- Default: Application installation directory -->
    <add key="file_name" value="ui_spirits_battle_db.prc"/>	<!-- Default: ui_spirits_battle_db.prc -->
    <add key="file_directory_custom_battles" value=""/>	<!-- Default: CustomBattles-->
    <add key="file_directory_randomized" value=""/>	<!-- Default: Randomized-->
    <add key="file_directory_preload" value=""/>	<!-- Default: Preload-->
    <add key="file_directory_spirit_images" value=""/>	<!-- Default: Spirit Images -->
    <add key="labels_file_location" value=""/>	<!-- Default: ParamLabels.csv  -->
    <add key="check_for_updates" value="true"/><!-- Default: true-->
    <!-- Randomizer Settings -->
    <add key="chaos" value=""/><!-- Default: 100  -->
    <add key="randomizer_iterations" value=""/>	<!-- Default: 3 -->
    <add key="minimum_battle_time" value=""/>	<!-- When battle_time_sec is randomized, it will never be less than this minimum.  Example: 60 -->
    <add key="excluded_fields" value=""/>	<!-- Pipe separated list of which fields you'd like to exclude from randomization.  These will default to empty.  Example: battle_power|event1_type -->
  </appSettings>
</configuration>